<!DOCTYPE html>
<html lang="fa">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>mBracketsG</title>
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="CSS/main.css">
</head>
<body style="padding: 0px;margin: 0px;width: 100%;">

<div class="container" style="width: 100%;padding: 0px;">


 

<div class="container" style="direction: rtl;padding-top: 30px;">

     <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="mosabegheRegister.html">ثبت نام</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  active" href="mosabegheBracketsL.html">براکت مسابقه</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mosabegheTime.html">زمان بندی</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mosabegheUsers.html">شرکت کنندگان</a>
      </li>
    </ul>
  
  </div>
  <br>
  <br>
 <div class="container" >
   <!-- League Table -->
   <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Team Name</th>
        <th>MP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GF</th>
        <th>GA</th>
        <th>GD</th>
        <th>Pts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>  
  <center>
  
       <select name="matchType" class="form-control form-control-lg" style="height: 35px;padding: 0px;padding-right: 5px;max-width: 400px;" id="selectkind">
        <option value="Round1"> Round 1</option>
        <option value="Round2"> Round 2</option>
      </select>
    <br>
    <h4>Round 1</h4>

   <!-- Round -->
   <table class="table table-striped" style="max-width: 500px;">

    <tbody>
      <tr>
        <th scope="row"></th>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
        <td></td>
        <td>-</td>
        <td></td>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
        <td></td>
        <td>-</td>
        <td></td>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
        <td></td>
        <td>-</td>
        <td></td>
        <td><img class="rounded" src="images/LOLBack.jpg" height="30" > Tigers</td>
      </tr>
    </tbody>
  </table>
</center>

  </div>

 </div>

 

 <script type="text/javascript" src="js/bootstrap.js"></script>
 <script src="js/jquery-1.11.3.js"></script>
 <script src="js/brackets.min.js"></script>

<script>

</script>

</body>
</html>




  <!-- All participants -->
   <!-- <div class="row" style="direction: ltr;overflow: auto;">
      <div class="col-md-3 col-sm-4 col-lg-2">
        <div class="row">
          <img class="rounded" src="images/LOLBack.jpg" height="30">
          <p style="padding-left: 5px;">Tigers</p> 
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-lg-2">
        <div class="row">
          <img class="rounded" src="images/LOLBack.jpg" height="30">
          <p style="padding-left: 5px;">Tigers</p> 
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-lg-2">
        <div class="row">
          <img class="rounded" src="images/LOLBack.jpg" height="30">
          <p style="padding-left: 5px;">Tigers</p> 
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-lg-2">
        <div class="row">
          <img class="rounded" src="images/LOLBack.jpg" height="30">
          <p style="padding-left: 5px;">Tigers</p> 
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-lg-2">
        <div class="row">
          <img class="rounded" src="images/LOLBack.jpg" height="30">
          <p style="padding-left: 5px;">Tigers</p> 
        </div>
      </div>
   </div> -->

